body {
    background-color: orange;
}
h1 {
    color: black;
    font-family:'Trebuchet MS', sans-serif;
}
h3 {
    color: black;
    font-family:'Trebuchet MS', sans-serif;
}
p {
    color: black;
    font-family:'Trebuchet MS', sans-serif;
}
h2 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:0ch;
}

.center {
    text-align: center;
}
.textcenter
{
    display: inline-block;
    text-align: left;
}
.topnav{
    background-image: linear-gradient(yellow,rgb(252, 206, 1));
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Trebuchet MS', sans-serif;
}
.topnav a.active {
    background-image: linear-gradient(rgb(252, 206, 1), yellow);
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', sans-serif;
}
.updates {
    float: left;
    color:black;
    text-align:left;
}