body {
    background-color: orange;
}
h1 {
    color: black;
    font-family:'Trebuchet MS', sans-serif;
}
h3 {
    color: black;
    font-family:'Trebuchet MS', sans-serif;
}
p {
    color: black;
    font-family:'Trebuchet MS', sans-serif;
}

.center {
    text-align: center;
}
.textcenter
{
    display: inline-block;
    text-align: left;
}
.topnav{
    background-color: yellow;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Trebuchet MS', sans-serif;
}
.topnav a.active {
    background-color: yellow;
    color: grey;
    font-family:'Trebuchet MS', sans-serif;
}